! URXVT-CONFIG
!------------------------------------------------

URxvt*termName: rxvt-unicode
URxvt.buffered             : true
URxvt.font                 : xft:xos4 Terminess Powerline:pixelsize=14:antialias=false
URxvt.boldFont             : xft:xos4 Terminess Powerline:bold:pixelsize=14:antialias=false
URxvt*scrollBar            : false
URxvt*mouseWheelScrollPage : false
URxvt*cursorBlink          : true
URxvt.geometry             : 95x25+0+0
URxvt*depth                : 32
URxvt.intensityStyles      : true
URxvt.urgentOnBell         : true
URxvt.fading               : 15
URxvt.iso14755             : false

! EXTENSIONS
!-------------------------------------------------
URxvt*perl-lib        : /usr/lib/urxvt/perl/
URxvt.cutchars        : "()*,<>[]{}|''"

! URXVT COPY PASTE SHORTCUTS
!------------------------------------------------

URxvt.keysym.M-c: perl:clipboard:copy
URxvt.keysym.M-v: perl:clipboard:paste
URxvt.keysym.Shift-Control-C: perl:clipboard:copy
URxvt.keysym.Shift-Control-V: perl:clipboard:paste

! URXVT FULLSCREEN TOGGLE
!------------------------------------------------

URxvt.keysym.F11        : perl:fullscreen:switch
URxvt.perl-ext-common   : default,matcher,vtwheel,searchable-scrollback,clipboard
URxvt.url-launcher      : /usr/bin/firefox
URxvt.matcher.button    : 1
URxvt*scrollTtyOutput   : false
URxvt*scrollWithBuffer  : true
URxvt*scrollTtyKeypress : true

! Includes
!---------------------------------
#include ".config/termcolors/hybrid_e7"

!rgba:0000/0000/0200/c800

! Bindings
!-------------------------------------
URxvt.keysym.Control-Up    : \033[1;5A
URxvt.keysym.Control-Down  : \033[1;5B
URxvt.keysym.Control-Left  : \033[1;5D
URxvt.keysym.Control-Right : \033[1;5C
