! URXVT-CONFIG
!------------------------------------------------

URxvt.buffered             : true
URxvt.font                 : xft:xos4 Terminess Powerline:pixelsize=14:antialias=false
URxvt.boldFont             : xft:xos4 Terminess Powerline:bold:pixelsize=14:antialias=false
URxvt*scrollBar            : false
URxvt*mouseWheelScrollPage : false
URxvt*cursorBlink          : true
URxvt.geometry             : 95x25+0+0
URxvt*depth                : 32
URxvt.intensityStyles      : true
URxvt.fading               : 15

! EXTENSIONS
!-------------------------------------------------
URxvt*perl-lib        : /usr/lib/urxvt/perl/
URxvt.cutchars        : "()*,<>[]{}|''"

! URXVT COPY PASTE SHORTCUTS
!------------------------------------------------

URxvt.keysym.M-c : perl:clipboard:copy
URxvt.keysym.M-v : perl:clipboard:paste

! URXVT FULLSCREEN TOGGLE
!------------------------------------------------

URxvt.keysym.F11      : perl:fullscreen:switch
URxvt.perl-ext-common : default,matcher,vtwheel,searchable-scrollback,clipboard
URxvt.url-launcher    : /usr/bin/firefox
URxvt.matcher.button  : 1
URxvt*scrollTtyOutput: false
URxvt*scrollWithBuffer: true
URxvt*scrollTtyKeypress: true

! XTERM-CONFIG
!------------------------------------------------

! Fonts:
Uxterm*faceName        : xos4 Terminess Powerline
Uxterm*faceSize        : 8

! Locale configuration
UXTerm*locale          : true

!Adjust line spacing
UXTerm*scaleHeight     : 1.01

! Default shell entry...
UXTerm*loginshell      : true

! Enable bell urgent
Uxterm*bellIsUrgent    : true

! Fix the 'Alt' key
UXTerm*metaSendsEscape : true

! scrollback...
UXTerm*savelines       : 10000

! Doble click selection URL...
UXTerm*charClass       : 33:48,36-47:48,58-59:48,61:48,63-64:48,95:48,126:48

! Window geometry...
Uxterm*VT100.geometry  : 94x28+0+0


! URXVT COLOR
!------------------------------------------------
 URxvt*color0         : #0A1222
 URxvt*color1         : #A54242
 URxvt*color2         : #8C9440
 URxvt*color3         : #DE935F
 URxvt*color4         : #368BA8
 URxvt*color5         : #6A4875
 URxvt*color6         : #115166
 URxvt*color7         : #707880
 URxvt*color8         : #080E18
 URxvt*color9         : #CC6666
 URxvt*color10        : #B5BD68
 URxvt*color11        : #F0C674
 URxvt*color12        : #75B6CB
 URxvt*color13        : #B294BB
 URxvt*color14        : #286478
 URxvt*color15        : #C5C8C6
 URxvt*colorBD        : #FFFFFF
 URxvt*colorIT        : #999999
 URxvt*colorUL        : #355D5D
 URxvt*foreground     : #C5C8C6
 URxvt*background     : #081a22
 URxvt*cursorColor    : #368BA8

!rgba:0000/0000/0200/c800

! ROFI
!---------------------------------

rofi.font        : terminal 12

!                  'bg'      'fg'     'bgalt'  'hlbg'      'hlf'
rofi.color-normal: #368ba8,  #DFDFDF, #012744, #c07830,    #222222
rofi.color-urgent: #011015,  #d094e4, #000000, #d094e4,    #000000
rofi.color-active: #011015,  #5f819d, #000000, #5f819d,    #000000

!                  'background' 'border'
rofi.color-window: #012744,     #c07830

! XPDF
!-------------------------------------
xpdf*antialias      : yes
xpdf*background     : white
xpdf*enableFreetype : yes
xpdf*foreground     : black
xpdf*urlCommand     : firefox %s

! Bindings
!-------------------------------------
URxvt.keysym.Control-Up    : \033[1;5A
URxvt.keysym.Control-Down  : \033[1;5B
URxvt.keysym.Control-Left  : \033[1;5D
URxvt.keysym.Control-Right : \033[1;5C
